
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
      <h2>&nbsp;</h2>
      <div class="header-title-background">
        <div class="header-title-wrapper">
          <div class="header-title">Dave Allen</div>
          <div class="header-sub-title">Composer &amp; Sound Designer</div>
        </div>           
      </div>
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2>&nbsp;</h2>
            <span>
              <div class="aspect-ratio">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HW3YC1uImi4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            </span>

            <!-- <span class="header-introduction">
              <a target="_blank" href="https://soundcloud.com/daveallenbpm">Portfolio</a>
            </span> -->
            <!-- <div class="intro-text-wrapper">
              <span class="intro-text">{{ content }}</span>
            </div> -->
            <!--<h5>&nbsp;</h5>
            <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
              <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
            </a>-->
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
