.header-introduction {
    font-size: 40px;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    a {
        color: black;
        padding: 26px;
        border: 2px solid black !important;
        background-color: white;
    }
    :hover {
        background-color: #dddddd;
        color: black;
    }
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}

section {
    margin-top: 0px !important;
}

.mailto-link {
    color: black !important;
    text-decoration: underline;
    :hover {
        text-decoration: none;
    }
}

.custom-about-styles {
    text-align: justify;
    p {
        font-size: 16px;
        line-height: 1.6;
        margin: 0 0 10px;
    }
}