.header-introduction {
    font-size: 36px;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    a {
        color: black;
        padding: 20px;
        border: 2px solid black !important;
        background-color: white;
    }
    :hover {
        background-color: #dddddd;
        color: black;
    }
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}

section {
    margin-top: 0px !important;
}

.mailto-link {
    color: black !important;
    text-decoration: underline;
    :hover {
        text-decoration: none;
    }
}

.custom-about-styles {
    text-align: justify;
    p {
        margin: 0 0 10px;
    }
}

.header-title-background {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    width: 100%;
    position: relative;
}

.header-title-wrapper {
  width: 100%;
}

.header-title {
    font-weight: 600;
    color: black;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
  //  text-shadow: 1px 0 0 #888, 0 -1px 0 #888, 0 1px 0 #888, -1px 0 0 #888;
}

.header-sub-title {
    font-weight:600;
    color: black;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
  //  text-shadow: 1px 0 0 #888, 0 -1px 0 #888, 0 1px 0 #888, -1px 0 0 #888;
}

.purple-links a {
    color: purple;
}

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* The height of the item will now be 56% of the width. */
  }
  
  /* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
  .aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .gameaspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 68.5%; /* The height of the item will now be 56% of the width. */
  }
  
  /* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
  .gameaspect-ratio iframe {
    position: absolute;
    width: 103%;
    height: 104%;
    left: -1.5%;
    top: -2%;
  }

  

  .intro-text-wrapper {
      margin-top: 25px;
  }
  
  #snake-load-button {
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    background-color: red;
    font-size: 30px;
    font-family: Verdana;
    width: 200px;
    padding: 8px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -50px;
    cursor: pointer;
    font-weight: 500;
  }

  #game-preload-container {
      position: relative;
  }

  #snake-iframe-container {
      display: none;
  }

  .snake-cover-image {
      max-width: 50% !important;
  }

  .itch-icon-custom {
    top: 6px;
    position: relative;
  }
